body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  .container {
    border-radius: 3px;
    position: relative;
    margin:8% auto auto auto;
    width: 450px;
    padding: 40px 50px;
    display: table;
    background-color: #fff;
  }
  
  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 36px;
  }
  
  .quote {
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #quote-text {
    font-size: 24px;
    font-weight: bold;
  }
  
  #quote-author {
    margin-top: 10px;
    font-size: 18px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #008CBA;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005F6B;
  }
  